.container {
    max-width: 780px;
}
    body{
        font-size: 12px;
    }

    .h1, h1 {
        font-size: 1.2rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
    }
    
    .row-margin {
    margin: 12px 0px 12px 0px;    
    }
    .row-margin-topo{
        margin: 20px 0px 12px 0px;  
    }
    
    .titulo {
    padding: 1px 0px 1px 0px;
    }

    .titulo-categoria{
        font-weight: bold;
        color: #343a40eb;
    }

    .black{
        color:#000;
    }
